@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Generate hash codes</h1>
</div>

<div class="generate-code">
    <div class="box">
        <span>Code: <b>@ViewBag.VerificationCode</b></span>
        @using (Html.BeginForm("GenerateVerificationCode", "Home", FormMethod.Post))
        {
            <button type="submit">Generate verification code</button>
        }
    </div>
    <div class="box">
        <span>File name: <b>@ViewBag.FileName</b></span>
        @using (Html.BeginForm("GenerateFileName", "Home", FormMethod.Post))
        {
            <button type="submit">Generate file name</button>
        }
    </div>
</div>


