@model generate_hash.Models.Home.HomeIocPageModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome</h1>
    
</div>
<a asp-controller="Home" asp-action="IoC">Code</a>


